:root {
  background-color: var(--color-dark-mode-background);
  /* instead of #202d36 */
}body {
  background-color: var(--color-dark-mode-background);
}
html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body.light-mode {
  --color-dark-mode-element-bg: var(--color-light-mode-element-bg);
  --color-dark-mode-background: var(--color-light-mode-background);
  --color-dark-mode-text: var(--color-light-mode-text);
}